.add{
  background-color:#ff4874 !important;
  padding-bottom: 10px;
  margin: 2px;
  border: 0px;
}

.add span{
	font-weight: bold;
	color:#ffffff;
}

.update-btn{
	background-color:#ffffff !important;
	padding-bottom: 10px;
	margin: 2px;
  	border: 0px;
}

.update-btn span{
	font-weight: bold;
	color:#ff4874;
}

.detail-btn{
	background-color:#ffffff !important;
	padding-bottom: 10px;
	margin: 2px;
}

.detail-btn span{
	font-weight: bold;
	color:#ff4874;
}

.selectedDelete{
	background-color:#f2F2F2 !important;
	padding-bottom: 10px;
	margin: 2px;
}

.selectedDelete span{
	font-weight: bold;
	color:#ff4874;
}