/*- Typograpy and resets -*/
$blue: #341cac;

body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: $blue;
}


.ant-menu ant-menu-light ant-menu-root ant-menu-horizontal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #ffff;
  height:100px;
  padding-bottom: -20px;

}



.ant-menu-item-selected {
    background-color: #ffff !important;
}

.content-box{
  height:100px;
  display: grid;
  grid-template-rows: 0.5fr 4fr;
  grid-row-gap:0px;

}


/*.orders{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr;
  grid-row-gap: 5px;
}*/






.cardlist {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    margin-top: 15px;
    margin-left: 50px;
    justify-content: center;
  
}


.cards:hover {
    box-shadow: 10px 5px 40px 20px darken(#341cac, 10%);
    cursor: pointer;
}  

.card{
  box-shadow: 10px 5px 40px 20px darken(#341cac, 50%);
  
  border: 1px solid grey;

  max-weight:300px;
}  
    

.button-primary {
      transform: translate(10px, 0);
      border: 1px solid blue;
    }
  


.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:100%;
}

.card-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color:transparent;
  color: $blue;
  font-size: 15px;
  transition:.25s;
  
  i{
    padding-right:4px;
  }
}


.designer-link {
  color:#fff;
  text-align:center;
  fon-size: 12px;
  text-decoration: none;
  display:block;
}