html{
    box-sizing: border-box;
    color: #FFFFFF;

}
body{
    background: #FFFFFF;
    margin: 0;
}
html,body{
    height: 100%;
}
body > div{
    background: #FFFFFF;
    margin: 15px 50px;
}


.App {
  display: grid;
  text-align: center;
  background-color: #FFFFFF;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav{
  list-style: none;
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-auto-rows: minmax(60px,automatically);
  /*border: 1px solid grey;*/
  height:100px;
}

.header
{
  margin-top: -10px;
  background-color: black !important;
}

.nav li{

  justify-content: center;
  text-align: center;

}

.nav li a{
  font-weight: bold;
  font-size:20px;
  color:#ffff;
}



.ant-layout{
  background-color: #FFFFFF !important;
}

.space{
  height:20px;
  width:100%;
  background-color: #FFFFFF;
}

.footer{
  background-color: #FFFFFF !important;
}

/*Header{
  background-color: #FF7685 !important;
}*/


